body{
    background-color: #181c25;
    color: rgb(230, 80, 80);

}

.informacoes_basicas{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #800976;
    height: 100px;
    margin-right: auto;
    border: 1px solid transparent;

    border-image: linear-gradient(to right top, #3d88dd, #1f347c, #6603df, #160172, #282c59);

    border-image-slice: 1;
    margin-left: 1%;
    


}

.icone{
    color: #130112;
    width: 40px;
 

}

